In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.700156  0.956200
1    a  two  0.414570  0.371994
2    b  one -0.745923 -0.294792
3    b  two -0.633445 -1.173733
4    a  one  1.054784 -0.916071

In [3]:
#Series.groupby()
s_gb = df['data1'].groupby(by=df['key1'])#會加總同一集群
#len(s_gb)
s_gb.sum()

key1
a   -0.230803
b   -1.379368
Name: data1, dtype: float64

In [4]:
s_gb1 = df['data1'].groupby(by=[df['key1'],df['key2']])
#len(s_gb1)
s2d = s_gb1.sum()#二維資料
s2d.unstack()#使用非堆疊

key2       one       two
key1
a    -0.645372  0.414570
b    -0.745923 -0.633445

In [5]:
#Dataframe.groupby()
d_gb = df.groupby(by='key1')
d_gb['data1'].sum()

key1
a   -0.230803
b   -1.379368
Name: data1, dtype: float64

In [6]:
s2d1 = df.groupby(by=['key1','key2'])['data1'].sum()
s2d1.unstack()

key2       one       two
key1
a    -0.645372  0.414570
b    -0.745923 -0.633445