In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.random.randn(4,3),
             columns=list('bde'),
             index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.100545 -1.178521 -1.537083
台中 -1.309308  0.611531  0.135266
台南  0.354125  0.681505 -1.969221
高雄 -0.280253  0.204207  1.425381

In [13]:
def formap(value):
    return f'{value:.3f}%'#小數點3位數

frame.map(formap)

          b        d        e
台北  -0.101%  -1.179%  -1.537%
台中  -1.309%   0.612%   0.135%
台南   0.354%   0.682%  -1.969%
高雄  -0.280%   0.204%   1.425%